/* === SPECIFICALLY FOR THE FRONT PAGE === */

body.storm-front
{
	padding-top: 0;
}

.storm-front #main
{
	padding: 0;
}

.storm-front .front-nav
{
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 999;
	background-color: rgba(0,0,0,0.85);
}

.storm-front .front-nav .nav-content
{
	margin: 15px;
	position: relative;
}

.storm-front .front-nav .main-navigation
{
	float: none;
	padding: 0;
	/*padding: 5px 0 0 0;*/
}

.front-nav .menu-toggle:before {
  content: '\2261';
  margin-right: 10px;
}

.storm-front .main-small-navigation
{
	background-color: transparent;	
}

.storm-front .main-small-navigation .menu-primary-container
{
	margin-top: 20px;
}

.storm-front .front-nav .nav-content .menu-toggle
{
	color: #aaa;
	font-size: 40px;
	line-height: 32px;
}

.storm-front .front-nav .main-navigation ul.menunav-menu li.menu-item
{
	display: block;
}

.storm-front .front-nav .main-navigation ul.menunav-menu li.menu-item a
{
	display: block;
	color: #fff;
	padding: 0;
	height: 40px;
}

.storm-front .front-nav .main-navigation ul li ul.sub-menu
{
	top: 40px;
	width: 220px;
	background-color: rgba(0,0,0,0.75);
}

.storm-front .front-nav .main-navigation ul li ul.sub-menu li.menu-item a
{
	padding: 10px;
	height: auto;
}

.storm-front .front-nav .main-navigation ul li ul.sub-menu li.menu-item:hover a
{
	background-color: #000;
}

.storm-front .front-nav .nav-content .nav-right
{
	position: absolute;
	right: 0px;
	top: 0px;
	/*float: right;*/
}

.storm-front .widget_search .searchform input.s
{
	border-radius: 0;
}

.storm-front .landing-container
{
	text-align: center;
	position: relative;
	background-image: url("img/background.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 2100px auto;
}

.landing-container .landing-content
{
	position: relative;
	/*
	background-image: url("img/centre-dot.png");
	background-position: 50% 400px;
	background-size: 8px auto;
	background-repeat: repeat-y;
	padding-top: 30px;
	*/
}

.landing-container .landing-content .vertical-link
{
	background-image: url("img/centre-dot.png");
	background-size: 8px auto;
	background-position: 50% 0;
	background-repeat: repeat-y;
	width: 8px;
	display: inline-block;
}

.landing-container .landing-content .vertical-link.main-row
{
	height: 50px;
	margin-bottom: -5px;
}

.landing-container .landing-content .vertical-link.sub-row
{
	margin-bottom: -20px;
}

.landing-container .landing-content .vertical-link.resolve-row
{
	height: 110px;
}

.landing-container .landing-content .vertical-link.resolve-row-content
{
	height: 150px;
}

.landing-container .landing-content .resolverow .vertical-link.resolve-row-content
{
	display: block;
}

.storm-front h1
{
	font-size: 60px;
	line-height: 60px;
	padding-bottom: 0;
}

.storm-front h2
{
	font-size: 50px;
	line-height: 50px;
	padding-bottom: 0;
}

.storm-front h3
{
	font-size: 30px;
	line-height: 30px;
}

.storm-front p
{
	font-size: 13px;
	line-height: 16px;
}

.landing-content .row
{
	/*padding: 20px 0;*/
}

.row .icon
{
	display: inline-block;
}

.row.fullwidth .content.inline,
.subrow .content
{
	width: 90%;
	padding: 0 10px;
	margin: 0 auto;
}

#row-who .icon.inline
{
	width: 112px;
}

#row-goal .icon.inline
{
	width: 200px;
}

/*
.row .content,
.subrow .content,
.resolverow p
{
	background-color: rgba(255,255,255,0.5);
}
*/

.subrow .link
{
	display: none;
	background-image: url("img/centre-dot.png");
	background-repeat: repeat-x;
	background-position: 0 50%;
	background-size: 8px auto;
	width: 30px;
	height: 80px;
}

.subrow.right .link
{
	margin-right: -10px;
	margin-left: 4px;
}

.subrow.left .link
{
	margin-left: -10px;
	margin-right: 4px;
}

.logo.full
{
	width: 100%;
	height: 340px;
	background-image: url("img/logorb.png");
	background-repeat: no-repeat;
	background-position: 50% -60px;
	background-size: 400px auto;
	display: inline-block;
}

.logo .img-logo
{
	width: 250px;
	margin-top: 120px;
}

#icon-who
{
	width: 112px;
	height: 112px;
	background-image: url("img/about.png");
	background-size: 100%;
}

#icon-goal
{
	width: 200px;
	height: 200px;
	background-image: url("img/goal.png");
	background-size: 100%;
}

.subrow .icon
{
	width: 80px;
	height: 80px;
	background-size: 100%;
	display: inline-block;
}

#icon-upfront
{
	background-image: url("img/icon_01.png");
}

#icon-cashflow
{
	background-image: url("img/icon_04.png");
}

#icon-bank
{
	background-image: url("img/icon_02.png");
}

#icon-barrier
{
	background-image: url("img/icon_03.png");
}

.resolverow .content
{
	display: inline-block;
	vertical-align: top;
	min-width: 200px;
}

.resolverow
{
	margin: -10px 0 40px 0;
	position: relative;
}

.resolverow .horizontal-link
{
	display: none;
	position: absolute;
	height: 8px;
	top: 110px;
	left: 50%;
	background-image: url("img/centre-dot.png");
	background-repeat: repeat-x;
	background-size: 8px auto;
}

.resolverow .washout
{
	margin-top: 10px;
	background-color: #fff;
}

.resolverow .washout .icon
{
	margin-top: 0;
}

.icon.resolve
{
	width: 200px;
	height: 200px;
	margin: 10px auto;
	background-size: 100%;
	background-repeat: no-repeat;
}

#icon-resolve-1
{
	background-image: url("img/resolve_01.png");
}

#icon-resolve-2
{
	background-image: url("img/resolve_02.png");
}

#icon-resolve-3
{
	background-image: url("img/resolve_03.png");
}

.landing-footer
{
	background-color: #57c8ea;
	padding: 80px 30px;
	max-width: 1000px;
	margin: 0 auto 50px auto;
}

.landing-footer .content
{
	display: inline-block;
	vertical-align: middle;
	min-width: 200px;
	margin: 0 10px;
	text-align: left;
}

.landing-footer .content h1,
.landing-footer .content h2,
.landing-footer .content h3,
.landing-footer .content p
{
	color: #fff;
	margin: 0 0 10px 0;
	padding: 0;
}

.clear
{
	height: 30px;
}

@media (max-width: 767px)
{
	.storm-front #page
	{
		width: 100%;
	}

	.storm-front .front-nav .nav-content .widget_search input.s
	{
		width: 120px;
	}

	.storm-front #page #main .landing-container .landing-content
	{
		padding: 0 10px;
	}

	.row .icon
	{
		margin: 0 0 15px 0;
	}

	.subrow .icon
	{
		margin-top: 25px;
	}

	.landing-footer .content
	{
		width: 90%;
	}

	.landing-container .landing-content .vertical-link.sub-row,
	.landing-container .landing-content .vertical-link.resolve-row-content
	{
		height: 50px;
	}

	.landing-container .landing-content .resolverow .vertical-link.resolve-row-content
	{
		margin: 0 auto;
	}

	.landing-container .landing-content .resolverow .vertical-link.resolve-row-content.mobile-only
	{
		display: block;
	}

}

@media (min-width: 768px)
{	
	.storm-front .front-nav
	{
		position: fixed;
	}	

	.row .inline
	{
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
	}

	.row.fullwidth .content.inline
	{
		width: 100%;
	}

	.row.fullwidth .inline.left
	{
		text-align: right;
	}

	.row.fullwidth .inline.right
	{
		text-align: left;
	}

	#row-who .content.inline
	{
		max-width: 270px;
	}

	#row-goal .content.inline
	{
		max-width: 220px;
	}

	.subrow
	{
		height: 15px;
		position: relative;
	}

	.subrow .link
	{
		display: block;
	}

	.subrow.left
	{
		margin-right: 50%;
		text-align: right;
	}

	.subrow.right
	{
		margin-left: 50%;
		text-align: left;
	}

	.subrow .subrow-container
	{
		width: 90%;
		position: absolute;
		top: -30px;
	}

	.subrow.right .subrow-container
	{
		left: 0px;
	}

	.subrow.left .subrow-container
	{
		right: 0px;
	}

	.subrow.right .subrow-container div
	{
		float: left;
	}

	.subrow.left .subrow-container div
	{
		float: right;
	}

	.subrow .icon
	{
		margin: 0 10px;
	}

	.subrow .content.inline
	{
		max-width: 200px;
	}

	.subrow .content
	{
		height: 80px;
		display: table;
		padding: 0;
	}

	.subrow .content p
	{
		display: table-cell;
		vertical-align: middle;
	}

	.subrow .content:after
	{
		content: "";
	}

	.landing-container .landing-content .vertical-link.sub-row
	{
		height: 50px;
	}

	.landing-container .landing-content .vertical-link.resolve-row-content
	{
		height: 150px;
		margin-bottom: -105px;
	}

	.landing-container .landing-content .resolverow .vertical-link.resolve-row-content
	{
		margin: -165px auto 0 auto;
	}

	.landing-container .landing-content .resolverow .vertical-link.resolve-row-content.mobile-only
	{
		display: none;
	}

	.resolverow .horizontal-link
	{
		display: block;
		width: 200px;
		margin-left: -100px;
	}

	.resolverow .content
	{
		max-width: 250px;
	}

	.resolverow .content.left
	{
		margin-right: 75px;
	}

	.resolverow .content.right
	{
		margin-left: 75px;
	}

}

@media (min-width: 768px) and (max-width: 989px)
{
	.landing-footer .content
	{
		width: 75%;
	}
}

@media (min-width: 990px)
{
	.storm-front h1
	{
		font-size: 100px;
		line-height: 100px;
	}

	.storm-front h2
	{
		font-size: 80px;
		line-height: 80px;
	}

	.storm-front h3
	{
		font-size: 40px;
		line-height: 40px;
	}

	.subrow .content.inline
	{
		max-width: 300px;
	}

	#row-who .content.inline
	{
		max-width: 370px;
	}

	#row-goal .content.inline
	{
		max-width: 330px;
	}

	.resolverow .horizontal-link
	{
		display: block;
		width: 240px;
		margin-left: -120px;
	}

	.resolverow .content.left
	{
		margin-right: 95px;
	}

	.resolverow .content.right
	{
		margin-left: 95px;
	}

	.resolverow .washout
	{
		margin-top: 0;
	}

	.landing-footer .content
	{
		width: 40%;
	}

}
